In [2]:
print('hi')

hi

In [3]:
print('Hello \
                    World')

Hello                     World

Back Slash

In [4]:
print(''' Hello Bunny ''')

 Hello Bunny

Triple quote for docstring and art text

using print() command will make the text appear as intended

Normally use double quotes as apostrophe's can be counted as single quote

In [5]:
print("Hello\tPython")

Hello	Python

In [6]:
print("Hello\nPython")

Hello
Python

In [7]:
print('she\'s calling the police')

she's calling the police

Backslash is a continuation sign

In [11]:
print("Apple\a")
#if this done in console will give output as tick sound

Apple

In [9]:
name="XYZ"
marks=58
age=19
print("The name of person is %s marks is %f age is %d"%(name,marks,age))

The name of person is XYZ marks is 58.000000 age is 19

In [10]:
print("The name of person is %s marks is %.2f age is %d"%(name,marks,age))

The name of person is XYZ marks is 58.00 age is 19

In [12]:
print(f"The name of person is {name} marks is {marks} age is {age}")

The name of person is XYZ marks is 58 age is 19

when a=1 is declared 1 is assigned to a variable and variable is nothing but a memory location which will contain 1

= assignment operator is linkage of a to 1

certain rules for creating variable
cannot use keyword which are specific words used in language for certain job like if else for while do while break continue etc

if = 2 not acceptable
ifhello = 2 yes

In [13]:
if = 2

SyntaxError: invalid syntax (<ipython-input-13-24e9fac9684a>, line 1)

In [15]:
ifhello=2
print(ifhello)

2

no variable can start with number
10times=10 no
times=10 yes

In [16]:
10times=10

SyntaxError: invalid syntax (<ipython-input-16-39be167d573b>, line 1)

In [18]:
times=10
print(times)

10

In [19]:
_1=23
print(_1)

23

we have to use variable names in such way that they are recognizable and understood by anyone in general

In [20]:
#address of RAM
id(name)

2561594258096

In [21]:
name1="XYZ"
id(name1)

2561594258096

In [22]:
#same value is assigned to name and name1 that is XYZ is stored in one place and is being accessed by both the variables

In [24]:
3**9

19683

In [25]:
6/2

3.0

In [26]:
6//2

3

In [27]:
4/3

1.3333333333333333

In [28]:
4//3

1

In [29]:
#Floor division will give you value before decimal

In [30]:
q=1
w=2
q==w

False

In [31]:
e=1
q==e

True

In [32]:
q<w

True

In [33]:
q>w

False

In [34]:
q<=w

True

In [35]:
q<=e

True

In [36]:
q>=w

False

In [37]:
q>=e

True

In [38]:
#q>=e true because of assignment operaror both the variable values are equal

In [39]:
q!=e

False

In [40]:
q!=w

True

In [42]:
q+=w

In [43]:
print(q)

3

In [44]:
#q+=w meaning q=q+w that is why answer is 3

In [45]:
q | w
print(q)

3

In [46]:
q & w
print(q)

3

In [47]:
10>9 and 20>M

NameError: name 'M' is not defined

In [48]:
10<9 and 20>M

False

In [49]:
#because if first exp is false the result is always false hence it won't check second exp

In [50]:
#membership op
"y" in name

False

In [51]:
#because case sensitive
"Y" in name

True

In [52]:
"y" not in name

True

In [53]:
name is name1

True

In [54]:
#referring to memory location and checking my understanding

In [55]:
q is not w

True

In [56]:
# -1 to 256 integer values can refer to same memory loc but after that different locs

In [57]:
r = 256
t = 256
r is t

True

In [58]:
y=257
u=257
y is u

False

In [60]:
10+10/29*4

11.379310344827587

In [61]:
#difference in results in ver 2 and 3 of python

In [62]:
3**-1

0.3333333333333333

In [63]:
10>8>9

False

In [64]:
10>8 and 8>9

False

In [65]:
#because 10>8 is true it checks 8>9 , turns out to be false so T and F is false